<div class="container mt-5">
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
    <mat-grid-tile >
      <img src="assets/crud.png" alt="CRUD" class="image-set"  routerLink="/employee"/>  
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/coming_soon.jpg" alt="Coming Soon" class="image-set" routerLink="/coming_soon" />
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/coming_soon.jpg" alt="Coming Soon" class="image-set" routerLink="/coming_soon"/>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/coming_soon.jpg" alt="Coming Soon" class="image-set" routerLink="/employee"/>
    </mat-grid-tile>
  </mat-grid-list>
</div>
